{% extends "schedule/base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% load crispy_forms_tags %}
{% block content %}

<form action="{% url 'relay' %}" method="POST">
	{% csrf_token %}
	{% bootstrap_form form %}
	<!-- <input id="key" type="text" name="pump_status"> -->
	<input type="submit" value="Submit">
</form>

{% for water in waters %}
<article class="media content-section">
	<div class="media-body">
		<!-- <div class="article-metadata">
			<a class="mr-2" href="#">{{ water.last_water }}</a>
			<small class="text-muted">{{ water.next_water }}</small>
		</div> -->
		<h2 class="article-title">Water Log: {{ water.water_start_date }}</h2>
		<p class="article-content">water_start {{ water.water_start }}</p>
		<p class="article-content">water_finish {{ water.water_finish }}</p>
		<p class="article-content">how_often {{ water.how_often }}</p>
		<p class="article-content">next_water {{ water.next_water }}</p>
	</div>
</article>
{% endfor %}
{% endblock content %}