{% extends "schedule/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% for water in waters %}
<article class="media content-section">
	<div class="media-body">
		<!-- <div class="article-metadata">
			<a class="mr-2" href="#">{{ water.last_water }}</a>
			<small class="text-muted">{{ water.next_water }}</small>
		</div> -->
		<h2 class="article-title">Water Log: {{ water.start_date }}</h2>
		<p class="article-content">start {{ water.start }}</p>
		<p class="article-content">deration {{ water.deration }}</p>
		<p class="article-content">finish {{ water.finish }}</p>
		<p class="article-content">how_often {{ water.how_often }}</p>
	</div>
</article>
{% endfor %}
{% endblock content %}