<div class="container">
	<div class="row">
		<table class="table table-bordered" style="margin-top: 0px;">
			<thead>
				<tr>
					<th>Start</th>
					<th>Finish</th>
					<th>Deration</th>
					<th>How Often</th>
				</tr>
			</thead>
			<tbody>
				{% for d in latest_schedule %}
				<tr>
					<td style="font-size: 12px;">{{ d.start }}</td>
					<td style="font-size: 12px;">{{ d.finish }}</td>
					<td style="font-size: 12px;">{{ d.deration|time:'H:i' }}</td>
					<td style="font-size: 12px;">{{ d.how_often|time:'H:i' }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>